
/* a, a:link, a:visited, a:hover {
	color: #5ae1cd!important;
	text-decoration: none!important;
}
a:hover {
	color: #5ae1cd!important;
	text-decoration: none!important;
} */

.btn {
	cursor: pointer;
}

hr {
	height: 2px!important;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00cee6+0,5ae1cd+98 */
	background: #00cee6; /* Old browsers */
	background: -moz-linear-gradient(left, #00cee6 0%, #5ae1cd 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #00cee6 0%,#5ae1cd 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #00cee6 0%,#5ae1cd 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cee6', endColorstr='#5ae1cd',GradientType=1 ); /* IE6-9 */
}


.resourcesTable>thead>tr>th, .resourcesTable>tbody>tr>td{
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	border:1px solid #ffffff;
}
